<div class="h-full w-full flex flex-col font-mono text-sm">
  <!-- Console Toolbar -->
  <div class="flex-shrink-0 h-10 px-2 flex items-center justify-between border-b border-slate-200 dark:border-slate-800 bg-slate-50 dark:bg-slate-900">
    <div class="flex items-center gap-2">
        <button class="px-3 py-1 text-xs rounded-md border-b-2 border-sky-500 text-slate-800 dark:text-white">
            Консоль
        </button>
    </div>
    <button (click)="clear.emit()" title="Очистить консоль" class="flex items-center gap-1.5 text-xs px-2 py-1 rounded hover:bg-slate-200 dark:hover:bg-slate-800">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4 text-slate-500"><path d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22ZM12 10.5858L14.8284 7.75736L16.2426 9.17157L13.4142 12L16.2426 14.8284L14.8284 16.2426L12 13.4142L9.17157 16.2426L7.75736 14.8284L10.5858 12L7.75736 9.17157L9.17157 7.75736L12 10.5858Z"></path></svg>
        <span>Очистить</span>
    </button>
  </div>

  <!-- Log Container -->
  <div #logContainer class="flex-1 p-2 overflow-y-auto space-y-1 bg-white dark:bg-slate-900">
    @for(log of logs(); track $index) {
        <div [class]="getLogClasses(log)">
            @if(getIcon(log.type).icon) {
              <span class="w-5 text-center mt-0.5">{{ getIcon(log.type).icon }}</span>
            } @else {
              <span class="w-5 text-slate-400 dark:text-slate-600 text-right mt-0.5">&gt;</span>
            }
            <pre class="flex-1 whitespace-pre-wrap break-words leading-tight">{{ formatLog(log.data) }}</pre>
        </div>
    }
     @if(logs().length === 0) {
        <div class="text-slate-400 dark:text-slate-600 p-2">Консоль пуста. Логи из вашего кода появятся здесь.</div>
     }
  </div>
</div>